body{
    border: inset;
    border-radius: 5px;
    height: 625px;
    background-color: rgb(250 250 255);
}
.snek-map{
    margin:1px;
    padding: 0;
    font-family: monospace;
    border: outset;
    border-radius: 10px;
    white-space: pre;
    display: inline-block;
    background-color: white;
    box-shadow:0 -1px 1.5px rgb(203, 0, 255),0 -1px 2.5px rgb(125,0,125),
    0 1px 1.5px rgb(255,255,175),0 1px 2.5px rgb(240,240,170),
    2px 0 1.5px rgb(225,0,0),2px 0 2.5px rgb(225,75,75),
    -2px 0 1.5px rgb(0,0,200),-2px 0 2.5px rgb(100,100,200),
    2px 2px 5px white,5px 5px 6px grey;
    transition: box-shadow 3s ease-out 0s;
}

.snek-map:hover{
    box-shadow:
    0 -2.5px 4px 1px rgb(255, 255, 186),0 -2px 5px 1px rgb(237, 237, 182),
    2.5px 0 3px  1px rgb(203, 0, 255),2px 0 3.5px 1px rgb(125,0,125),
    -2.5px 0 2.5px 1.5px rgb(225,0,0),-2px 0 3.5px 1px  rgb(225,75,75),
    0 2.5px 2.5px 1px rgb(0,0,255),0 2px 3.5px 1px rgb(100,100,233),
    2px 2px 5px white,5px 5px 6px grey;
}
.snek-heading{
    text-align: center;
    color: white;
    text-shadow:0 0 1.5px rgb(75 200 75),0 0 2.5px rgb(50 200 50),
    1px 1px 5px white,-1px 1px 5px white,1px -1px 5px white, -1px -1px 5px white,
    4px 3px 3px rgb(140 140 140),5px 4px 3px rgb(150 150 150),
    4px 3px 1px rgb(0 45 0),5px 4px 1px rgb(0 100 0);
}
.snek-heading-p{
    border: outset;
    border-radius: 8px;
    margin-right: 550px;
    margin-left: 550px;
    box-shadow: 0 0 4px;
}
.leftBTNtop{
position: fixed;
top:80%;
right:15%;
width: 55px;
height: 25px;
font-family: monospace;
font-weight: 900;
font-size: larger;
border-style: outset;
border-width: 2.5px;
    color: white;
    text-shadow:0 0 1.5px rgb(244, 244, 0),0 0 2.5px rgb(211, 211, 19),
    1px 1px 6px white,-1px 1px 6px white,1px -1px 6px white, -1px -1px 6px white,
    2px 1px 4px rgb(140,140,140),3px 2px 4px rgb(150,150,150),
    2px 1px 1px rgb(0,45,0),3px 2px 1px rgb(0,100,0);
      transition: text-shadow 3s ease-in-out 0s;
}
.leftBTNtop:hover{
    text-shadow:1px 1px 4px rgb(244, 244, 0),1px 1px 5px rgb(211, 211, 19),
    -1px 0 4px rgb(23, 0, 198),-1px 0 5px rgb(11, 0, 173),
    1px 1px 6px white,-1px 1px 6px white,1px -1px 6px white, -1px -1px 6px white,
    2px 1px 4px rgb(140,140,140),3px 2px 4px rgb(150,150,150),
    2px 1px 1px rgb(0,45,0),3px 2px 1px rgb(0,100,0);
}
.leftBTNbottom{
position: fixed;
top:85%;
right:15%;
width: 55px;
height: 25px;
font-family: monospace;
font-weight: 900;
font-size: larger;
border-style: outset;
border-width: 2.5px;
    color: white;
    text-shadow:0 0 1.5px rgb(125 25 125),0 0 2.5px rgb(125 0 125),
    1px 1px 6px white,-1px 1px 6px white,1px -1px 6px white, -1px -1px 6px white,
    2px 1px 4px rgb(140 140 140),3px 2px 4px rgb(150 150 150),
    2px 1px 1px rgb(0 45 0),3px 2px 1px rgb(0 100 0);
}
.rightBTNtop{
position: fixed;
top:80%;
right:10%;
width: 55px;
height: 25px;
font-family: monospace;
font-weight: 900;
font-size: larger;
border-style: outset;
border-width: 2.5px;
    color: white;
    text-shadow:0 0 1.5px rgb(225 100 100),0 0 2.5px rgb(225 75 75),
    1px 1px 6px white,-1px 1px 6px white,1px -1px 6px white, -1px -1px 6px white,
    2px 1px 4px rgb(140 140 140),3px 2px 4px rgb(150 150 150),
    2px 1px 1px rgb(0 45 0),3px 2px 1px rgb(0 100 0);
}
.rightBTNbottom{
position: fixed;
top:85%;
right:10%;
width: 55px;
height: 25px;
font-family: monospace;
font-weight: 900;
font-size: larger;
border-style: outset;
border-width: 2.5px;
    color: white;
    text-shadow:0 0 1.5px rgb(125 125 200),0 0 2.5px rgb(100 100 200),
    1px 1px 6px white,-1px 1px 6px white,1px -1px 6px white, -1px -1px 6px white,
    2px 1px 4px rgb(140 140 140),3px 2px 4px rgb(150 150 150),
    2px 1px 1px rgb(0 45 0),3px 2px 1px rgb(0 100 0);
}
button:active {
  color: rgb(235,235,235);
  background-color:rgb(195,195,195);
  border-style: inset;
  box-shadow: 0 1px #666;
  transform: translateY(2px);
}
.buttons{
    position: fixed;
    border: inset;
top:79%;
right:9.3%;
width: 135px;
height: 65px;
border-radius: 6px;
box-shadow: 0 0 2.5px grey;
background-color: white;

}