body{
    border: inset;
    border-radius: 5px;
}
.snek-map{
        border: outset;
    border-radius: 10px;
    margin-right: 750px;
}
.snek-heading{
    text-align: center;
}
.snek-heading-p{
    border: outset;
    border-radius: 8px;
    margin-right: 500px;
    margin-left: 500px;
}